.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1a1a2e;
  padding: 12px 20px;
}

.logo img {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links li a,
.nav-links li button {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  background: transparent; 
  transition: 0.3s ease;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit; 
}

.nav-links li a:hover,
.nav-links li button:hover {
  color: #fca311;
}

.logout-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: inherit;
}

.logout-btn:hover {
  color: #fca311;
}
